### Imports

In [8]:
import numpy as np
import pandas as pd
from pandas_datareader import data as web
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline
import datetime as dt
import mplfinance as mpf
import yfinance as yf

### Function that saves stock data to CSV

In [12]:
def save_to_csv_from_yf(ticker, syear, smonth, sday, eyear, emonth, eday):
  start = dt.datetime(syear, smonth, sday)
  end = dt.datetime(eyear, emonth, eday)

  df = yf.download(ticker, start, end)

  df.to_csv(f'data/{ticker}.csv')
  return df

### Function that returns dataframe from csv

In [14]:
def get_df_from_csv(ticker):
  try:
    df = pd.read_csv(f'data/{ticker}.csv')
  except FileNotFoundError:
    print(f'FileNotFoundError: data/{ticker}.csv')
    return None
  else:
    return df

### Add daily return to dataframe

In [17]:
def add_daily_to_df(df, ticker):
  df['daily_return'] = (df['Adj Close']/df['Adj Close'].shift(1)) - 1
  return df

### Test functions

In [18]:
save_to_csv_from_yf('AAPL', 2010, 1, 1, 2020, 1, 1)

AAPL = get_df_from_csv('AAPL')
AAPL.head()

add_daily_to_df(AAPL, 'AAPL')
AAPL.head()

[*********************100%%**********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,daily_return
0,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.487533,493729600,NaN
1,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.498749,601904800,0.001729
2,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.395380,552160000,-0.015906
3,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.383555,477131200,-0.001849
4,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.425995,447610800,0.006648